<!doctype html>
<html lang=ko>
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>코레스코</title>
    <link rel="stylesheet" href="http://static.coresco.co.kr/css/m/reset.css">
    <link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common.css" />
    <link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common_tmp.css" />
    <link rel="stylesheet" href="http://static.coresco.co.kr/css/m/board/board.css">
    <!--<link rel="stylesheet" href="../../src/css/m/common.css">-->
    <!--<link rel="stylesheet" href="../../../src/css/m/board/board.css">-->
    <script type="text/javascript" src="http://static.coresco.co.kr/js/m/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://static.coresco.co.kr/js/m/swiper.min.js"></script>
    <script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js"></script>
    
    <!-- 180709 js 추가 -->
	<script type="text/javascript" src="http://static.coresco.co.kr/js/m/board/board.js"></script>
</head>
<body>
	<div id="Wrapper">
		<header>
			<h1>
				<a href="http://m.koresco.kr"><img src="http://img.koresco.kr/coresco_logo_m.png" alt="코레스코로고"></a>
			</h1>
			<div class="menu_bt">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="allmenuH" class="allmenu">
				<div class="allmenuIn">
					<h2><img src="http://img.koresco.kr/coresco_logo_m.png" alt="코레스코로고"></h2>
					<ul class="menu_login">
						<!-- 기본 -->
						<!--<li><a href="#">로그인</a></li>
						<li><a href="#">회원가입</a></li>-->	
						<!-- 로그인 시 -->
						<li class="menu_log"><a href=""><span class="log_ico"><img src="http://img.koresco.kr/logout_ico.png" alt=""></span>로그아웃 <span class="i_gt"></span></a></li>
					</ul>
					<nav>
						<ul class="">
							<!--1차메뉴-->
				            <!-- 20180516 메뉴 수정 및 추가 -->
							<ul class="menu_wr">
                                <li><a href="#intro">소개</a></li>
                                <li><a href="#branch-intro">지점 및 체인</a></li>
                                <!-- 기존 지점메뉴 주석처리 -->
                                <!--<li><a href="#branch-sampo">삼포지점</a></li>
                                <li><a href="#branch-chiak">치악지점</a></li>
                                <li><a href="#branch-seorak">설악지점</a></li>
                                <li><a href="#branch-bs">BS도고콘도</a></li>-->
                                <li><a href="#none">회원공지</a></li>

                                <!-- 회원카드/명의개서 클릭 시 '준비중' 안내창 -->
                                <li><a href="#none">회원카드</a></li>
                                <li><a href="#none">명의개서</a></li>

                                <li><a href="http://www.coresco.co.kr/board/?dd=RRczVw==&amp;brd=WBAh">묻고답하기</a></li>
                                <li><a href="#way-to-come">오시는길</a></li>
                                <li><a href="http://www.coresco.co.kr/board/?dd=RRczVw==&amp;brd=Rxw1Wg==">사고팔고</a></li>
							</ul>
						</ul>
					</nav>
				</div>
				<span class="dim"></span>
			</div>
		</header>
		
		<!-- 180709 성수기 시즌 즉시 확정이벤트 공지사항 -->
		<div class="group">
			<h2 class="tit">회원공지</h2>
			<div class="board type01">
				<div class="board-view">
					<p class="view-tit">
						성수기 시즌 즉시 확정 이벤트 <br>
						<span><img class="logo" src="http://img.koresco.kr/coresco_logo.png">&nbsp; 2018-06-29</span>
					</p>
					<div class="board-detail" style="word-break:break-all">
						<div class="board-txt">
                            <div class="evt-summer2018-1">
                                <div class="evt-area1">
                                    <div class="evt-box">
                                        <figure><img src="http://img.coresco.co.kr/m/landing/summer2018/img_landing_txt2.png" alt="하단 텍스트 참조"></figure>
                                        <div class="evt-txt-box hidden">
                                            <h1><span>회원을, 회원을 위한, 오직 회원에 의한</span> 2018 성수기 시즌 즉시 확정 이벤트</h1>
                                            <p>회원 특가로 즉시 예약 가능!!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="evt-area2">
                                    <div class="evt-box">
                                        <h1 class="tit"><img src="http://img.coresco.co.kr/m/landing/summer2018/tit_facil2.png" alt="이용하실 시설을 선택해주세요"><span class="hidden">시설선택</span></h1>
                                        <ul class="list-prod">
                                            <li>
                                                <a href="#none"><img src="http://img.coresco.co.kr/m/landing/summer2018/prod_oc2.png" alt="상품소개"></a>
                                                <div class="hidden info">
                                                    <h2>오션투유 리조트 (강원 > 고성/속초)</h2>
                                                    <p>
                                                        천혜의 절경, 삼포해변을 바로 
                                                        눈앞에서 바라볼 수 있는 
                                                        아름다운 리조트
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#none"><img src="http://img.coresco.co.kr/m/landing/summer2018/prod_bs.png" alt="상품소개"></a>
                                                <div class="hidden info">
                                                    <h2>bs콘도 (충남 > 아산/천안)</h2>
                                                    <p>
                                                        천연 유항 온천의 보양 휴양과
                                                        편안하고 부대시설,  가족 단위
                                                        의 여행에 안성맞춤인 콘도
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#none"><img src="http://img.coresco.co.kr/m/landing/summer2018/prod_yh.png" alt="상품소개"></a>
                                                <div class="hidden info">
                                                    <h2>연호 리조트 (강원 > 속초)</h2>
                                                    <p>
                                                        설악과 동해 바다의 풍광을
                                                        동시에 즐길 수 있는 자연 그대로
                                                        의 별장같은 리조트 
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#none"><img src="http://img.coresco.co.kr/m/landing/summer2018/prod_chi.png" alt="상품소개"></a>
                                                <div class="hidden info">
                                                    <h2>코레스코 치악 (강원 > 횡성)</h2>
                                                    <p>
                                                        치악산의 신비로운 능선을 따라
                                                        아름다운 풍경과 탁 트인 자연을
                                                        느낄 수 있는 콘도
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="btn-wrap">
							<div class="left">
								<a href="http://m.coresco.co.kr/board/?dd=RRczVw==&amp;brd=RxE0Sj1D&amp;page=1&amp;field=전체&amp;word=" class="btn btn-style02">목록보기</a>
							</div>
						</div>
						<!--COMMENT-->
						<div class="comment">
							<form name="coment" id="coment" method="POST" action="./state.php">
								<fieldset>
									<legend>댓글 작성자 및 비밀번호 입력</legend>
									<div class="login">
										<div class="column">
											<ul>
												<li>
													<label for="Writer">작성자</label>
												</li>
												<li>
													<input type="text" name="writer" title="이름을 입력하세요" id="writer" class="txt_box" style="width:100%;">
												</li>
											</ul>
										</div>
										<div class="column">
											<ul>
												<li>
													<label for="Password">비밀번호</label>
												</li>
												<li>
													<input type="password" name="pw" title="비밀번호를 입력하세요" class="txt_box" style="width:100%;">
												</li>
											</ul>
										</div>
									</div>
									<div class="c-write">
										<div>
											<textarea name="comment" id="comment"></textarea>
										</div>
										<div>
											<a id="submit_bt" class="enter" style="cursor:pointer">등록</a>
										</div>
									</div>
											<input type="hidden" name="mode" id="mode" value="incoment">
											<input type="hidden" name="num" value="Hks=">
											<input type="hidden" name="brd" value="RxE0Sj1D">
											<input type="hidden" name="category" value="공지">
											<input type="hidden" name="page" value="1">
											<input type="hidden" name="field" value="전체">
											<input type="hidden" name="word" value="">
											<input type="hidden" name="rnum" id="rnum">
								</fieldset>
							</form>
						</div>
				    </div>
				</div>
				
			</div>
			<div class="paging">
				<a href="#" class="first" title="처음으로">&lt;&lt;</a>
				<a href="#" title="이전으로">&lt;</a>
				<a href="#" class="on">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#" title="다음으로">&gt;</a>
				<a href="#" class="last" title="마지막으로">&gt;&gt;</a>
			</div>
			<div class="search">
				<select name="" id="" class="select_box">
					<option value="전체">전체</option>
				</select>
				<div class="search-bar">
					<input type="text" title="검색어를 입력하세요" placeholder="검색어입력" class="txt_box" style="width:100%;" />
				</div>
				<input type="submit" value="검색" />
			</div>
		</div>
       
        <!-- 20180518 성수기 회원 예약접수 팝업 STEP1 -->
        <div id="popSummer" class="popup-com type-02 popup-summer" style="display:none">
            <div class="pop_Bg_bk"></div>
            <div class="popup-wrap">
                <div class="popup-top-box">
                    <h4 class="popup-tit">성수기 회원 예약 접수</h4>
                </div>
                <div class="popup-container">
                    <div class="popup-form">
                        <div class="form-box">
                            <span class="label-com"><span class="c-point">* </span><label for="memberName1">회원이름</label></span>
                            <input type="text" id="memberName1" class="input-com" placeholder="이름입력">
                        </div>
                        <div class="form-box">
                            <span class="label-com"><span class="c-point"> </span><label for="memberNum1">회원번호</label></span>
                            <input type="tel" id="memberNum1" class="input-com" placeholder="12345678">
                        </div>
                        <!-- 180529 주민번호 추가 -->
                        <div class="form-box">
                            <span class="label-com"><span class="c-point"> </span><label for="memberCode">주민번호</label></span>
                            <div class="code-box">
                                <input type="tel" id="memberCode" class="input-com fir" placeholder="주민번호 앞자리">
                                <span class="line"></span>
                                <input type="tel" class="input-com last" placeholder="뒤 3자리">
                                <span class="code-pwd">****</span>
                            </div>
                        </div>
                        <div class="form-box">
                            <span class="label-com"><span class="c-point">* </span><label>연락처</label></span>
                            <div class="phone-box">
                                <div class="sel-area">
                                    <select class="sel-com">
                                        <option>010</option>
                                        <option>011</option>
                                    </select>
                               </div>
                                <span class="line"></span>
                                <input type="tel" class="input-com" placeholder="'-'를 제외하고 입력">
                            </div>
                        </div>
                    </div>
                    <p class="popup-txt">
                        <span class="c-point">* </span>항목은 필수입력사항입니다.
                    </p>
                    <div class="btn-box">
                        <a href="javascript:;" class="a-btn"><span>다음</span></a>
                    </div>
                </div>
                <a href="javascript:;" class="a-i-x btn-pop-close" title="닫기"></a>
            </div>
        </div>
		
		<footer>
			<address>
				<!-- 171222 이용약관, 개인정보처리방침 -->
				<p>
					<img src="http://img.koresco.kr/coresco_footer_logo.png" alt="코레스코로고">
					<span class="f_menu">
						<span><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .use-wrap').show(); $('body').css('overflow', 'hidden');">이용약관</a></span>
						<span><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .term-wrap').show(); $('body').css('overflow', 'hidden');">시설이용약관</a></span>
						<span><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .privacy-wrap').show(); $('body').css('overflow', 'hidden');">개인정보처리방침</a></span>
					</span>
				</p>
				<p>(주)이스턴월드 ㅣ 사업자등록번호 120-88-03537 ㅣ 서울특별시 서초구 남부순환로 2646, 4층 402호</p>
				<p>현대수리조트,제너두둔내펜션,선라이즈클럽밸리,케이알리젠시(kr리젠시), 아이에프지엔드씨(IFG&amp;C), 케이피엠(KMP) 등 은 (주)코레스코와 아무런 연관이 없으며, (주)코레스코 또는 코레스코 3개의 체인시설 &lt;삼포(오션투유), 치악, 설악&gt; 지점 등의 이름을 사칭하여 홍보 하는 행위를 적발시 즉시 신고해 주시기 바랍니다. </p>
				<p>당사는 당사와 아무런 연관 및 이해관계 없는자들이 코레스코지점 및 (주)코레스코를 사칭하여 불법으로 콘도분양한 자료를 현재 수집중이며 민형사상 손해배상 청구등을 준비중입니다. ( 이에 따른 내용을 잘 알고 계신 분께는 사안에 따라 포상금을 지급해 드리겠습니다. )</p>
				<p>COPYRIGHT ⓒ Easternworld CO..LTD ALL RIGHTS RESERVED.</p>
			</address>
		</footer>
	</div>
	
	<div class="quick">
		<strong>예약문의</strong>
		<div class="call">
			<ul>
				<li class="k-member">
					<a href="tel:1666-4874" title="코레스코 회원권 문의전화">
						코레스코 회원권 문의<br>
						<span>1666-4874</span>
					</a>
				</li>
				<li>
					<a href="tel:070-7688-2457" title="삼포/치악지점 예약 문의전화">
						삼포/치악 지점예약 문의<br>
						070-7688-2457
					</a>
				</li>
				<li>
					<a href="tel:033-631-3811" title="삼포지점 이용 문의전화">
						삼포지점 이용문의<br>
						033-631-3811
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>