<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no, address=no, email=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
        <title>코레스코</title>
        <link rel="stylesheet" href="http://static.coresco.co.kr/css/m/reset.css">
        <link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css?ver=20171201120520">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css?ver=20171201120520">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css?ver=20171201120520">
        <link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common.css"/>
        <link rel="stylesheet" href="http://static.coresco.co.kr/css/m/index.css">
        <!-- <link rel="stylesheet" href="/static/css/m/common.css"> <link rel="stylesheet" href="/static/css/m/index.css"> -->

        <script type="text/javascript" src="http://static.coresco.co.kr/js/m/jquery-1.10.2.min.js?ver=20171201120520"></script>
        <script type="text/javascript" src="http://static.coresco.co.kr/js/m/swiper.min.js?ver=20171201120520"></script>
        <script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js?ver=20171201120520"></script>
        <script type="text/javascript" src="http://static.coresco.co.kr/js/m/mobile.js"></script>

        <script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js"></script>
        <!--<script type="text/javascript" src="../../src/js/m/common.js"></script>-->
    </head>

    <body>
        <!-- 카드 발급자 페이지 -->
        <div class="page landing-page" data-name="memberRsvt2019">
            <div class="page-content">
                <div id="memberRsvt2019" class="popup-com popup-season season-december">
                    <div class="pop_Bg_bk"></div>
                    <div class="popup-wrap">
                        <div class="popup-container">
                            <div class="evtLd">
                                <div class="picture">
                                    <img class="btn-move d-block" src="http://img.coresco.co.kr/m/evtLd/memberRsvt2019/december.jpg" alt="2018년 12월 회원사전예약 시설리스트">
                                </div>
                                <div class="evt-box">
                                    <div class="form-area">
                                        <div class="form-box">
                                            <span class="label-com"><span class="c-point">*
                                                </span>
                                                <label>시설선택</label>
                                            </span>
                                            <div class="phone-box sel-box-2">
                                                <div class="sel-area">
                                                    <select class="sel-com">
                                                        <option value="">시설선택</option>
                                                        <option value="">오션투유리조트</option>
                                                        <option value="">코레스코 치악</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-box">
                                            <span class="label-com"><span class="c-point">*
                                                </span>
                                                <label for="memberName1">회원이름</label>
                                            </span>
                                            <input type="text" id="memberName1" class="input-com" placeholder="이름입력">
                                        </div>

                                        <div class="form-box">
                                            <span class="label-com">
                                                <span class="c-point"></span>
                                                <label for="memberNum1">회원번호</label>
                                            </span>
                                            <input type="tel" id="memberNum1" class="input-com" placeholder="12345678">
                                        </div>

                                        <div class="form-box">
                                            <span class="label-com">
                                                <span class="c-point"></span>
                                                <label for="memberCode">주민번호</label>
                                            </span>
                                            <div class="code-box">
                                                <input type="tel" id="memberCode" class="input-com fir" placeholder="앞자리">
                                                <span class="line"></span>
                                                <input type="tel" class="input-com last" placeholder="뒤 3자리">
                                                <span class="code-pwd">****</span>
                                            </div>
                                        </div>

                                        <div class="form-box">
                                            <span class="label-com"><span class="c-point">*
                                                </span>
                                                <label>연락처</label>
                                            </span>
                                            <div class="phone-box">
                                                <div class="sel-area">
                                                    <select class="sel-com">
                                                        <option>010</option>
                                                        <option>011</option>
                                                    </select>
                                                </div>
                                                <span class="line"></span>
                                                <input type="tel" class="input-com" placeholder="'-'를 제외하고 입력">
                                            </div>
                                        </div>

                                    </div>
                                    <p class="point-txt">
                                        <span class="c-point">*
                                        </span>항목은 필수입력사항입니다.
                                    </p>
                                    <div class="btn-box">
                                        <a href="javascript:;" class="a-btn">
                                            <span>예약하기</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn-pop-close">
                            <span class="a-i-x"></span>닫기
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>