<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no, address=no, email=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
        <title>코레스코</title>
        <link rel="stylesheet" href="http://static.coresco.co.kr/css/m/reset.css">
        <link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css?ver=20171201120520">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css?ver=20171201120520">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css?ver=20171201120520">
        <link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common.css"/>
        <link rel="stylesheet" href="http://static.coresco.co.kr/css/m/index.css">
        <!-- <link rel="stylesheet" href="/static/css/m/common.css"> <link rel="stylesheet" href="/static/css/m/index.css"> -->

        <script type="text/javascript" src="http://static.coresco.co.kr/js/m/jquery-1.10.2.min.js?ver=20171201120520"></script>
        <script type="text/javascript" src="http://static.coresco.co.kr/js/m/swiper.min.js?ver=20171201120520"></script>
        <script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js?ver=20171201120520"></script>
        <script type="text/javascript" src="http://static.coresco.co.kr/js/m/mobile.js"></script>

        <script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js"></script>
        <!--<script type="text/javascript" src="../../src/js/m/common.js"></script>-->
    </head>

    <body>
        <!-- 카드 미발급자 페이지 -->
        <div class="page landing-page" data-name="memberRsvt2019">
            <div class="page-content">
                <div id="memberRsvt2019" class="popup-com popup-season season-december card-no">
                    <div class="pop_Bg_bk"></div>
                    <div class="popup-wrap">
                        <div class="popup-container">
                            <div class="evtLd">
                                <div class="picture">
                                    <a href="http://www.koresco.kr/member/?dd=WxsfQD9UOg==">
                                        <img src="http://img.coresco.co.kr/m/evtLd/memberRsvt2019/card_no.jpg" alt="2018년 12월 회원사전예약 시설리스트">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn-pop-close">
                            <span class="a-i-x"></span>닫기
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>